[package]
name = "wasm_modules"
version = "0.1.0"
edition = "2021"

#[dependencies]
#wasm-bindgen = "0.2.100"
#
#[target.'cfg(target_arch = "wasm32")'.dependencies]
#wasm-bindgen = "0.2.100"

[lib]
crate-type = ["cdylib"]
#path = "./src/lib.rs"
