[build]
jobs = 16

[target.'cfg(not(target_family = "wasm"))']
rustflags = ["--cfg=bevy_dylib"]

[unstable]
mtime-on-use = true
#build-std = []

#[target.wasm32-unknown-unknown]
#rustflags = []

[target.wasm32-unknown-unknown]
rustflags = ["-C", "panic=abort"]
